<div class="navbar-container header">
  <div class="navbar-content">
      <%= link_to new_challenge_path do %>
      <%= inline_svg("icon.svg", class: "icon", height: "20pt") %>
      <% end %>

      <%= link_to friendship_search_path do %>
      <%= inline_svg("search_icon.svg", class: "icon", height: "25pt") %>
      <% end %>

      <%= link_to "/posts" do %>
      <%= inline_svg("logo.svg", class: "icon", height: "18pt") %>
      <% end %>
      <% if user_signed_in? && current_user.avatar_url.present? %>
      <%= link_to dashboard_path do %>
      <%= image_tag current_user.avatar_url, class: "avatar-nav" %>
      <% end %>
      <% else %>
      <%= link_to dashboard_path do %>
      <%= inline_svg("avatar.svg", class: "avatar-nav", height: "20pt") %>
      <% end %>
      <% end %>

  </div>
</div>
