<div class="navbar-container header">
  <div class="navbar-content">
      <%= link_to new_challenge_path do %>
      <%= inline_svg("icon.svg", class: "icon", height: "28pt", style: "fill: black;") %>
      <% end %>

      <%= link_to "/posts" do %>
      <%= inline_svg("logo.svg", class: "icon", height: "25pt") %>
      <% end %>
      <% if user_signed_in? && current_user.avatar_url.present? %>
      <%= link_to dashboard_path do %>
      <%= image_tag current_user.avatar_url, class: "avatar" %>
      <% end %>
      <% else %>
      <%= link_to dashboard_path do %>
      <%= inline_svg("logo.svg", class: "avatar") %>
      <% end %>
      <% end %>

  </div>
</div>
