<div class="container">
  <div class="content-wrap" id="login">
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    input_html: { value: 'rose@bloom.com' },
                    required: false,
                    autofocus: true %>
        <%= f.input :password,
                    required: false,
                    input_html: { value: '123456' }%>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
        <button type="submit" class="btn-custom">Log in</button>
    <% end %>
    <div class="login-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
